.admin-card-head {
    background-color: #b92a2a;  
    color: #fff;            
    padding: 10px;
    border-radius: 6px 6px 0 0; 
    margin: -20px -20px 10px -20px;
}
.admin-card {
    border: 2px solid #b92a2a;
    border-radius: 6px;
}
.staff-card-head {
    background-color: #35871a;  
    color: #fff;                 
    padding: 10px;
    border-radius: 6px 6px 0 0;
    margin: -20px -20px 10px -20px;
}
.staff-card {
    border: 2px solid #35871a;
    border-radius: 6px;
}
.user-card-head {
    background-color: #1a4f8b;  
    color: #fff;                 
    padding: 10px;
    border-radius: 6px 6px 0 0;
    margin: -20px -20px 10px -20px;
}
.user-card {
    border: 2px solid #1a4f8b;
    border-radius: 6px;
}
