{% extends "admin_dashboard.html" %}

{% block title %}Manage Treks{% endblock %}

{% block heading %}TREK MANAGER{% endblock %}

{% block content %}
<table class="table ms-4 mt-4 table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Difficulty</th>
            <th>Available Slots</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for trek in treks %}
        <tr>
            <td>{{ trek.id }}</td>
            <td>{{ trek.name }}</td>
            <td>{{ trek.location }}</td>
            <td>{{ trek.difficulty.name }}</td>
            <td>{{ trek.available_slots }}</td>
            <td>{{ trek.status.value }}</td>
            <td>
                <div class="d-flex justify-content">
                    <button"><a href="{{ url_for('admin.viewtrek', trek_id=trek.id) }}">View</a></button>
                    <button"><a href="{{ url_for('admin.edittrek', trek_id=trek.id) }}">Edit</a></button>
                    <button"><a href="{{ url_for('admin.deletetrek', trek_id=trek.id) }}">Delete</a></button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}