{% extends 'staff_dashboard.html' %}

{% block title %}Manage Users{% endblock %}

{% block heading %}MANAGE USERS{% endblock %}

{% block content %}
<div class="row m-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><h2>Participants ({{ plen }})</h2></div>
                <div class="card-body">                                     
                    <table class="table ms-4 mt-4 table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>                   
                        {% for participant in participants %}
                        <tbody>
                            <tr>
                                <td>{{ participant.id }}</td>
                                <td>{{ participant.trekker.user.username }}</td>
                                <td>{{ participant.trekker.user.email }}</td>
                                <td>{{ participant.booking_date }}</td>       
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    {% if not participants %}
                    <p>No registered participants.</p>
                    {% endif %}  
                </div>
            </div>
        </div>
    </div>
{% endblock %}