{% extends 'user_dashboard.html' %}

{% block title %}My Bookings{% endblock %}

{% block heading %}MY BOOKINGS{% endblock %}

{% block content %}
<table class="table ms-4 mt-4 table-bordered table-striped">
    <thead>
        <tr>
            <th>Trek Name</th>
            <th>Booking Date</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.treks.name }}</td>
            <td>{{ booking.booking_date }}</td>
            <td>{{ booking.treks.start_date }}</td>
            <td>{{ booking.treks.end_date }}</td>
            <td>{{ booking.status.value }}</td>
            <td>
                <form method="POST" action="{{ url_for('user.cancelbooking', booking_id=booking.id) }}">
                    <input type="hidden" name="trek_id" value="{{ booking.treks.id }}">
                    <button type="submit">Cancel Booking</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}